body {
    background: url("b1.png");
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-position: center;
    margin: 0;
    display: grid;
}

.wrap h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    text-shadow: 3px 3px 10px #b574f7;
}

.wrap h2 {
    color: #fff;
    font-size: 2rem;
    text-shadow: 3px 3px 10px #b574f7;
    font-weight: 40;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
}

.wrap p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 10;
    margin-bottom: 2rem;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
}

/* Add a black background color to the top navigation */ 

.topnav { 
    background-color: #333; 
    overflow: hidden; 
    position: relative;
} 
 
/* Style the links inside the navigation bar */ 
.topnav a { 
    float: left; 
    color: #f2f2f2; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    font-size: 18px; 
} 
     
 /* Change the color of links on hover */ 
.topnav a:hover { 
    background-color: #ddd; 
    color: black; 
} 
  
 /* Add a color to the active/current link */ 
.topnav a.active { 
    background-color: #590b80; 
    color: white; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.c7 h1 {
    font-size: 5rem;
    text-shadow: 2px 2px 6px white;
    border-radius: 5rem;
    margin-left: 20rem;
    margin-right: 20rem;
    text-shadow: 2px 2px 30px #b574f7;
}

.c7 p {
    text-align: center;
    font-style: oblique;
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;

}

.c8 h2 {
    letter-spacing: 15px;
    font-weight: 700;
    font-size: 2.5rem;
    border: 2px solid white;
    border-radius: 20px;
    margin-left: 20rem;
    margin-right: 20rem;
    text-shadow: 3px 3px 30px #b574f7;
}

.c6 h2 {
    font-weight: 300;
    font-size: 2rem;
    text-shadow: 2px 2px 30px red;
    text-align: left;
}

.c6 img{
    margin-left: 5rem;
    margin-right: 3rem;
}

.c6 p {
    text-align: left;
    margin-right: 10rem
}

.c5 h2{
    font-weight: 300;
    font-size: 2rem;
    text-shadow: 2px 2px 30px orange;
    text-align: right;
}

.c5 img{
    margin-right: 5rem;
    margin-left: 3rem;
}

.c5 p{
    text-align: right;
    margin-left: 10rem
}
.c4 h2 {
    font-weight: 300;
    font-size: 2rem;
    text-shadow: 2px 2px 30px yellow;
    text-align: left;
}

.c4 img{
    margin-left: 5rem;
    margin-right: 3rem;
}

.c4 p {
    text-align: left;
    margin-right: 10rem
}



.c3 h2{
    font-weight: 300;
    font-size: 2rem;
    text-shadow: 2px 2px 30px green;
    text-align: right;
}

.c3 img{
    margin-right: 5rem;
    margin-left: 3rem;
}

.c3 p{
    text-align: right;
    margin-left: 10rem
}
.c2 h2{
    font-weight: 300;
    font-size: 2rem;
    text-shadow: 2px 2px 30px blue;
    text-align: left;
}

.c2 img{
    margin-left: 5rem;
    margin-right: 3rem;
}

.c2 p {
    text-align: left;
    margin-right: 10rem
}

.c1 h2{
    font-weight: 300;
    font-size: 2rem;
    text-shadow: 2px 2px 30px violet;
    text-align: right;
}

.c1 img{
    margin-right: 5rem;
    margin-left: 3rem;
}

.c1 p{
    text-align: right;
    margin-left: 10rem;
}

*,*:before,*:after{
    box-sizing: border-box;
}

.wrap {
    font-family: poppins;
    margin: 0;
    display: grid;
    font-size: 14px;
}

footer{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #ffffff;
    background-color: #011c39;
}

.footer > *{
    flex 1 100%
}
.footer-left{
    margin-right:1.25em;
    margin-bottom: 2em;
}
.footer-left img{
    width: 50%;
}

h2{
    font-weight: 600;
    font-size: 17px;
}

.footer ul{
    list-style: none;
    padding-left: 0;
}

.footer li{
    line-height: 2em;
}

.footer a{
    text-decoration: none;
}

.footer-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a{
    color: #999999;
}

.footer-bottom{
    text-align: center;
    color: #999999;
    padding-top: 50px;
}

.footer-left p{
    padding-right: 20%;
    color: #999999;
}

.socials a{
    background: #364a62;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

.socials a i{
    color: #e7f2d4
    padding: 10px 12px;
    font-size: 20px;
}

footer {
    font-size: 14px;
    display: flex;
    margin: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    color: #ffffff;
    background-color: #011c39;
    position: relative;
}

.footer img {
    width: 40%
}

.footer-left{
    margin-right:1.25em;
    margin-bottom: 2em;
}
.footer-left img{
    width: 50%;
}

h2{
    font-weight: 600;
    font-size: 17px;
}

.footer ul{
    list-style: none;
    padding-left: 0;
}

.footer li{
    line-height: 2em;
}

.footer a{
    text-decoration: none;
}

.footer div {
    margin: 40px;
}

.footer-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
}
.footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: #999999;
}

.footer-bottom{
    position: absolute;
    text-align: center;
    bottom: 0;
    right: 0;
    color: #999999;
}

.footer_right div {
    width: 20%;
}
